/* Default stylings */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: #fcfcfc;
    color: #152d20;
  }
  
  .skipLink:focus {
    left: 0;
  }

/* Design Styling starts */

body {
    font-size: 62.5%;
    border: 0.1px solid rgb(184, 184, 184);
    min-width: 320px;
}

.wrapper {
    position: relative;
    background: #152d20;
}

.wrapper nav {
    position: absolute;
    display: none;
    top: 20px;
    left: 50px;
}

.wrapper nav li {
    float: left;
}
.wrapper nav a {
    display: inline-block;
    color: #ffffff;
    font-size: 1.8em;
    font-family: 'CormorantGaramond', serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
}

.desk-background {
    width: 100%;
    height: auto;
    display: none;
}
.mobile-background {
    width: 100%;
    height: 100%;
}

.logo h1 {
    font-family:'Fredericka the Great', cursive;
    text-transform: uppercase;
    line-height: 29.3px;
    color: #ffffff;
    margin-top: 0;
    font-size: 3em;
    width: 132px;
    height: 59px;
    position: absolute;
    top: 20px;
    left: 23px;
    
}

.hamburger {
    position: absolute;
    color: red;
    z-index: 1;
    width: 40px;
    height: 23px;
    top: 21px;
    right: 21px;
}

.social-media {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: none;
    text-align: center;
  }

.social-media li {
    margin: 10px;
}

.social-media a {
    color: #ffffff;
    font-size: 2.6em;
    text-decoration: none;
}

.section1 {
    background: #152d20;
    padding: 1px;
}

.about-suzie img {
    width: calc(100% - 41px);
    height: auto;
    margin: 40px auto;
    display: block;
}

.about-suzie {
    margin-bottom: 51px;
}

.cat-story h2 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 3.8em;
    color: #ffffff;
    text-transform: uppercase;
    margin: 0px 56px 0 18px;
}

.cat-story p {
    color: #ffffff;
    font-family: 'Roboto',sans-serif;
    font-size: 1.8em;
    line-height: 29px;
    font-weight: 300;
    margin: 20px 20px 45px 20px;
}

/* Read More button styling */
.button,
.button2,
.button3 {
    text-align: center;
}

.button a {
    color: #152d20;
    background: #ffffff;
    padding: 17px 15px;
}

.button2 a,
.button3 a {
    color: #ffffff;
    padding: 17px 15px;
    background: #152d20;
    margin: 30px;
}

.read-more a {
    font-family: 'CormorantGaramond', serif;
    text-transform: uppercase;
    font-size: 1.8em;
    display: inline-block;
    text-decoration: none;
    width: 170px;
}

.section2 {
    background: #c3d3cb;
    padding: 1px;
}

.friends h2 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 3.8em;
    color: #152d20;
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto;
    width: 300px;
}

.gallery-item img {
    float: left;
    width: calc(100% / 2 - 25px);

}

.reptile {
    margin: 40px 5px 40px 20px;

}

.sheep {
    margin: 40px 20px 40px 5px;

}

.macaw {
    margin: 40px 20px 40px 0px;
    display: none;
}

.section3 {
    background: #152d20;
}

.about {
    text-align: center;
    padding-bottom: 40px;
}

.spotlight {
    max-width: 138px;
    margin: 0 auto;
}
.about h2 {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'CormorantGaramond', serif;
    font-size: 2.7em;
    font-weight: 300;
    display: inline-block;
    width: 100%;
}

.about i {
    color: #ffffff;
    font-size: 5.8em;
    margin-top: 50px

}

.zebras {
    width: 100%;
}


.zebra-header {
    width: 399px;

}

.zebra-facts,
.bond {
    text-align: center;
}

.bond-header {
    width: 446px;
}

.zebra-facts h2,
.bond h2 {
    font-family: 'Fredericka the Great', cursive;
    text-transform: uppercase;
    font-size: 2.2em;
    color: #152d20;
    margin-top: 36px;
    display: inline-block;
    width: calc(100% - 83px);
}

.zebra-facts p,
.bond p {
    font-family: 'Roboto',sans-serif;
    font-size: 1.8em;
    color: #1f2022;
    line-height: 1.61;
    margin: 20px;

}

.kitten {
    width: 100%;
}

.contact-footer nav {
    text-align: center;
}

.footer-nav ul {
    display: inline-block;
    padding: 0;
}

.contact-footer {
    background: #152d20;
    padding: 42px 1px 20px 1px;
}

.contact-footer li {
    text-align: center;
    list-style: none;

}

.contact-footer a {
    display: inline-block;
    color: #ffffff;
    font-size: 1.8em;
    font-family: 'CormorantGaramond', serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 10px;
}

.contact-footer h2 {
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    font-family: 'CormorantGaramond', serif;
    font-size: 2.5em;
    font-weight: 300;
    margin-top: 50px

}

.subscription p {
    font-family: 'Roboto',sans-serif;
    font-size: 1.6em;
    color: #ffffff;
    text-align: center;
}

form {
    text-align: center;
}

input[type="email"] {
    padding: 12px 35px;
    font-size: 1.8em;
}

input[type="email"],
button[type="submit"] {
    width: calc(100% - 30px);
    text-align: center;
    margin: 5px auto;

}

.subscribe-button {
    color: #ffffff;
    background: #000000;
    border: none;
    font-size: 1rem;
    line-height: 20px;
    text-align: center;
    width: 25%;
    margin: 0;
    font-family: 'CormorantGaramond', serif;
    text-transform: uppercase;
    padding: 16px 40px;
}

.contact-info p {
    margin: 5px;
    text-align: center;
    color: #ffffff;
    font-size: 1.4em;
}

footer {
    background: #000000;
    margin: 0;
    width: 100%;
    height: 44px;
    text-align: center;
}

footer p {
    color: #ffffff;
    margin: 0;
    font-size: 1.4em;
    font-family: 'Roboto',sans-serif;
    display: inline-block;
    margin-top: 12px;
}

/* Responsive styling */

@media screen and (min-width: 355px) {

    .contact-footer li {
        float: left;
    }
}

/* Tablet */
@media screen and (min-width: 768px) {

    .social-media {
        display: block;
    }
    
    .mobile-background {
        display: none
    }

    .desk-background {
        display: block;
    }

    .wrapper nav {
        display: block;
    }

    .hamburger {
        display: none;
    }

    .logo h1 {
        left: auto;
        font-size: 6em;
        width: 50%;
        line-height: 1em;
        text-align: right;
        margin-right: 10%;
        right: 8%;
        top: 15%;
    }

    .about-suzie {
        margin-top: 5%;
    }
    .about-suzie img {
        width: 30%;
        margin: 0px 30px 90px 30px;
        float: left;
    }
    
    .cat-story {
        width: 60%;
        float: left;
    }

    .cat-story p {
        margin-left: 0;
    }

    .cat-story h2 {
        margin-left: 0;
    }

    .zebra-facts {
        text-align: center;
    }

    .bond {
        text-align: center;
    }

    .button {
        float: left;
    }

    .friends h2 {
        margin: 60px auto;
    }


}

/* Desktop */
@media screen and (min-width: 1000px) {

    .logo h1{
        font-size: 11em;
        width: 50%;
        line-height: 1em;
        text-align: right;
        margin-right: 8%;
    }

    .friends,
    .about {
        max-width: 1200px;
        margin: 0 auto;
    }

    .macaw {
        display: block;
    }

    .gallery-item img {
        width: calc(100% / 3 - 25px);
    }

    .sheep {
        margin-left: 10px;
        margin-right: 15px;
    }

    .paw-container,
    .calendar-container,
    .bag-container {
        width: calc(100% /3);
        float: left;
    }

    .zebras,
    .zebra-facts {
        width: calc(100% / 2);
        float: right;
    }

    .zebra-facts {
        text-align: left;
        padding:0;
    }
    .zebra-facts h2,
    .bond-info h2 {
        font-size: 3em;
        margin-left: 20px;
        margin-top: 0px;
        padding-top: 50px;
    }

    .button2,
    .button3  {
        margin-left: 0;
        margin-right: 500px;
    }

    .kitten,
    .bond-info {
        width: calc(100% / 2);
        float: left;    
    }

    .bond-info {
        text-align: left;
    }
    .bond-header h2 {
        font-size: 3em;
        margin: 20px;

    }

    .footer-nav,
    .subscription,
    .contact-info {
        width: calc(100% / 3);
        float: left;
    }

    .contact-footer li{
        float: none;
        text-align: left;
    }

    .contact-footer h2 {
        margin: 0;
    }

    input[type="email"] {
        width: 70%;
        float: left;
    }
    
    input[type="email"],
    button[type="submit"] {
        text-align: left;
    }

      button[type="submit"] {
        width: 30%;
    }

    .contact-info {
        padding-right: 8%;
    }
  
    .contact-info p,
    .contact-info h2 {
        text-align: right;
    }

    .contact-info h2 {
        font-size: 2em;
        padding: 5px;
    }

    .contact-info p {
        font-size: 1.8em;
    }



}